<div class= "container">
<h1>Terminos & Condicines</h1>
<p>Son las cláusulas legales que establecen
<br>
la forma en la que podés usar la información <br>
 y acceder a los contenidos de una página web <br>
 o de una aplicación. También establecen <br>
 lo que el dueño de la página o aplicación <br>
 hará con tus datos personales y con los datos que generes <br>
cuando uses las aplicaciones o servicios. </p>
</div>