<h1>Termino y Condicines</h1>
<p>Son las cláusulas legales que establecen
<hr>
la forma en la que podés usar la información <hr>
 y acceder a los contenidos de una página web <hr>
 o de una aplicación. También establecen <hr>
 lo que el dueño de la página o aplicación <hr>
 hará con tus datos personales y con los datos que generes <hr>
cuando uses las aplicaciones o servicios. </p>
